src/ws/PaysWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="from" type="xsd:string"/>
   <element name="sayHelloWorldFromReturn" type="xsd:string"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="obtainListePaysReturn" type="impl:ArrayOf_xsd_anyType"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloWorldFromRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:message name="obtainListePaysResponse">

      <wsdl:part element="impl:obtainListePaysReturn" name="obtainListePaysReturn"/>

   </wsdl:message>

   <wsdl:message name="obtainListePaysRequest">

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromResponse">

      <wsdl:part element="impl:sayHelloWorldFromReturn" name="sayHelloWorldFromReturn"/>

   </wsdl:message>

   <wsdl:portType name="PaysWebService">

      <wsdl:operation name="sayHelloWorldFrom" parameterOrder="from">

         <wsdl:input message="impl:sayHelloWorldFromRequest" name="sayHelloWorldFromRequest"/>

         <wsdl:output message="impl:sayHelloWorldFromResponse" name="sayHelloWorldFromResponse"/>

      </wsdl:operation>

      <wsdl:operation name="obtainListePays">

         <wsdl:input message="impl:obtainListePaysRequest" name="obtainListePaysRequest"/>

         <wsdl:output message="impl:obtainListePaysResponse" name="obtainListePaysResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaysWebServiceSoapBinding" type="impl:PaysWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloWorldFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldFromRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldFromResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtainListePays">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtainListePaysRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtainListePaysResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaysWebServiceService">

      <wsdl:port binding="impl:PaysWebServiceSoapBinding" name="PaysWebService">

         <wsdlsoap:address location="http://localhost:8080//services/ws/PaysWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
